{{#each .}}
<a href="/film.html?id={{id}}">
  <div class="film-card">
    <div class="poster {{posterClass}}">
      <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="Poster">
      <div class="film-rating">{{vote_average}}</div>
    </div>
    <div class="film-card-title">{{title}}</div>
  </div>
</a>
{{/each}}